
# backend/requirements.txt
# Web framework
flask
flask-cors

# Authentication & Security
PyJWT
Werkzeug

# Database (if using SQLAlchemy for user storage)
SQLAlchemy
Flask-SQLAlchemy

# Environment variables
python-dotenv

# Google Cloud SDKs
google-cloud-bigquery
google-cloud-monitoring
google-cloud-core
google-auth

# AWS SDKs
boto3
botocore

# Azure SDKs
azure-identity
azure-mgmt-costmanagement
azure-mgmt-monitor
azure-mgmt-resource

